@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate.min';

* {
    font-family: 'Museo', 'Roboto', sans-serif;
}

@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/social';
@import 'blocks/about';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/why';
@import 'blocks/choose';
@import 'blocks/interier';
@import 'blocks/feed';
@import 'blocks/forms';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media';
