.button {
    width: 210px;
    height: 60px;
    border: none;
    background: $main-color;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
    transition: all 0.6s;
    &:focus {
        background: #0D2F2C;
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1), inset 5px 5px 4px rgba(0, 0, 0, 0.3);
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 40px 36px rgba(44, 69, 67, 0.12);
    }
    &_clear {
       border: 1px solid $main-color;
       background: none;
       color: $main-color;
       box-shadow: none;
       &:focus {
        color: #fff;
    }
    }
    &_about {
        display: block;
        margin: 35px 0 0 auto;    
    }
    &_card {
        width: 159px;
        height: 50px;
        font-size: 14px;
    }
    &_card-light {
        width: 129px;
        height: 50px;
        border: 1px solid $main-color;
        background: none;
        color: $main-color;
        box-shadow: none;
        &:focus {
            color: #fff;
        }
    }
    &_send {
        margin-top: 60px;
        width: 208px;
        height: 50px;
        font-size: 14px;
    }
    &_modal {
        margin-top: 50px;
        width: 179px;
    }
}