.choose {
    min-height: 1500px;
    padding: 130px 0 178px 0;
    background: linear-gradient(119.3deg, #9AB095 -65.5%, #6B956C 152.88%);
    .row {
        margin-top: 45px;        
    }
    &__card {
        margin-top: 30px;
        min-height: 513px;
        padding: 25px;
        background: #FFFFFF;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
        }
        img {
            width: 100%;
        }
    }
    &__price {
        margin-top: 10px;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        color: $main-color;
        opacity: 0.6;        
    }
    &__buttons {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
}