.form {
    position: relative;
    width: 440px;
    min-height: 220px;
    &__icon {
        width: 18px;
        height: 18px;
        position: absolute;
        transform: translate(60%, 160%);
        &:nth-of-type(2) {
            transform: translate(65%,160%);
        }
        &:nth-of-type(3) {
            width: 15px;
            height: 15px;
            transform: translate(90%, 193%);
        }
        img {
            width: 100%;
        }
    }
    input {
        margin-top: 20px;
        width: 440px;
        height: 45px;
        background: rgba(44, 69, 67, 0.1);
        border: none;
        border-radius: 4px;
        padding: 13px 0 13px 41px;
        font-family: 'Roboto';
        font-weight: 200;
        font-size: 14px;
        color: $main-color;
        outline: none;
        transition: all 0.6s;
        &:first-child {
            margin-top: 0;
        }
        &:focus {
            border: 1px solid $main-color;
            box-shadow: 0px 5px 20px rgba(44, 69, 67, 0.1);
            transform: translateY(-5%);
        }
    }
    &_left {
        margin-top: 60px;
        margin-left: 97px;
        position: relative;
    }
    &_modal {
        margin-top: 25px;
        width: 310px;
        input {
            width: 100%;
        }
    }
    .error {
        border: solid 1px rgb(102, 11, 11);
    }
    label.error {
        display: block;
        margin-top: 5px;
        border: none;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 14px;
        color: $main-color;
    }
}

    
