.form {
    width: 440px;
    min-height: 220px;
    input {
        width: 440px;
        height: 45px;
        background: rgba(44, 69, 67, 0.1);
        border: none;
        border-radius: 4px;
        padding: 13px 0 13px 41px;
        font-family: 'Roboto';
        font-weight: 200;
        font-size: 14px;
        color: $main-color;
        outline: none;
        transition: all 0.6s;
        &:focus {
            border: 1px solid $main-color;
            box-shadow: 0px 5px 20px rgba(44, 69, 67, 0.1);
            transform: translateY(-5%);
        }
    }
    label {
        transform: translate(50%, 140%);
        &:first-child {
            transform: translate(65%, 140%);
        }
    }

    &_left {
        margin-top: 60px;
        margin-left: 97px;
        position: relative;
    }    
}