.overlay {
    position: fixed;
    z-index: 6;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    position: absolute;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 366px;
    min-height: 443px;
    padding: 40px 28px 28px 28px;
    background: #FFFFFF;
    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        color: $main-color;
        cursor: pointer;
    }
    &__subtitle {
        color: rgba(44, 69, 67, 0.7);
        font-size: 18px;
        margin-top: 10px;
        &_thanks {
            text-align: center;
            margin-top: 23px;
            font-size: 16px;
            font-family: 'Roboto';
            font-weight: 300;
        }

    }
    &_thanks {
        width: 366px;
        min-height: 213px;
        background: url(../img/thanks_bg.jpg) center (center/cover) no-repeat;
    }

}

#catalog, #buy_plant, #thanks  {
    display: none;
}
.overlay {
    display: none;
}