.promo {
    position: relative;
    min-height: 900px;
    padding: 0 0 32px 0;
    &__menu {
        position: absolute;
        left: -100%;
        transition: all 0.7s;
        &_active {
            left: 0;
        }
    }
    &__info {
        margin-top: 237px;    
    }
    &__title {
        color: $main-color;
        font-size: 72px;
        text-align: left;      
    }
    &__descr {
        margin-top: 40px;
        text-align: left;
        width: 464px;
        color: $main-color;
        font-weight: 300;
        font-size: 18px;
        line-height: 165%;        
    }
    &__btns {
        margin-top: 20px;
        width: 460px;
        display: flex;
        justify-content: space-between;        
    }
    &__photo {
        margin-top: 122px;
        margin-left: 80px;
        position: relative;  
        width: 521px; 
        img {
            width: 100%;
        } 
    }
    &__arrow {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 84px;
        height: 30px;
        background: #84AA9A;
        span {
            display: block;
            margin: 15px auto 0 auto;
            width: 18px;
            height: 2px; 
            background-color: $main-color;     
            &:before {
                content: "";
                display: block;
                margin-bottom: -3px;
                width: 9px;
                height: 2px;
                background-color: $main-color;
                transform-origin: 100%;
                transform: translateX(104%) rotate(45deg);
            }
            &:after {
                content: "";
                display: block;
                margin-top: -1px;
                width: 9px;
                height: 2px;
                background-color: $main-color;
                transform-origin: 100%;
                transform: translateX(104%)  rotate(-45deg);
            }      
        }
    }
    &__scroll {
        cursor: pointer;
        margin-top: 81px;
        color: $main-color;
        transform: translateX(-25%) rotate(-90deg);
        height: 54px;
        width: 77px;
        font-size: 14px;
    }
    &__scroll-arrow {
        width: 31px;
        height: 77px;
        border: 1px solid $main-color;
        border-radius: 24px;
        transform: translate(70%, -30%) rotate(-90deg);
        img {
            transform-origin: 100%;
            transform: translate(35%, 100%) rotate(180deg)
        }
    }
}